<%- include('partials/header.ejs') %>

<div class="main">
    <div class="ribbon">
        <div class="addTask">
            <input type="text" id="mainField" name="taskName" placeholder=" + Add a task" autofocus>
        </div>
        <div class="searchBar">
            <button id="backBtn"><img src="./images/img-back-button.png" width="25px"></button>
            <input type="text" id="search" onkeyup="searchItem(event);"><button id="searchBtn" type="button">Search</button> 
        </div>
    </div>

    <div id="tasks" class="tasks">
        <% 
        var i=-1;
        var arrayOfTasks = [];
        if (locals.data) { 
            data.forEach((task) =>{
                const taskTitle = task.taskName.trim();
                if (taskTitle!==''){ 
                    arrayOfTasks.push(taskTitle);
                    i++;
        %>
                        <div class='container visible'>
                            <form class="formLabel" value="<%= i %>" onclick="strikeTask(this);">
                                <% if (task.striked) { %>
                                    <label class="isChecked"><input type='checkbox' value='<%= i %>' style="display: none;"><%= taskTitle %></label>
                                <% } else { %>
                                    <label><input type='checkbox' value='<%= i %>' style="display: none;"> <%= taskTitle %></label>
                                <% } %>
                            </form>
                            <button class='removeBtn' value='<%= i %>' onclick="removeTask(this);">Remove</button>
                        </div>
        <%
                }
            });
        }
        %>
    </div>
    <div id="popUp" class="popUp">
        <img src="./images/img-not-found.png" width="200px">
        <h1>Nobody here but us chickens</h1>
    </div>
</div>

<%- include('partials/footer.ejs') %>